CREATE TABLE registration (id INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL, registration_date DATETIME NOT NULL, status VARCHAR(255) NOT NULL, player_id INTEGER NOT NULL, tournament_id INTEGER NOT NULL, CONSTRAINT FK_62A8A7A799E6F5DF FOREIGN KEY (player_id) REFERENCES "user" (id) NOT DEFERRABLE INITIALLY IMMEDIATE, CONSTRAINT FK_62A8A7A733D1A3E7 FOREIGN KEY (tournament_id) REFERENCES tournament (id) NOT DEFERRABLE INITIALLY IMMEDIATE);
CREATE INDEX IDX_62A8A7A799E6F5DF ON registration (player_id);
CREATE INDEX IDX_62A8A7A733D1A3E7 ON registration (tournament_id);
CREATE TABLE sport_match (id INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL, match_date DATETIME NOT NULL, score_player1 INTEGER DEFAULT NULL, score_player2 INTEGER DEFAULT NULL, status VARCHAR(255) NOT NULL, tournament_id INTEGER NOT NULL, player1_id INTEGER NOT NULL, player2_id INTEGER NOT NULL, CONSTRAINT FK_CE27A41C33D1A3E7 FOREIGN KEY (tournament_id) REFERENCES tournament (id) NOT DEFERRABLE INITIALLY IMMEDIATE, CONSTRAINT FK_CE27A41CC0990423 FOREIGN KEY (player1_id) REFERENCES "user" (id) NOT DEFERRABLE INITIALLY IMMEDIATE, CONSTRAINT FK_CE27A41CD22CABCD FOREIGN KEY (player2_id) REFERENCES "user" (id) NOT DEFERRABLE INITIALLY IMMEDIATE);
CREATE INDEX IDX_CE27A41C33D1A3E7 ON sport_match (tournament_id);
CREATE INDEX IDX_CE27A41CC0990423 ON sport_match (player1_id);
CREATE INDEX IDX_CE27A41CD22CABCD ON sport_match (player2_id);
CREATE TABLE tournament (id INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL, tournament_name VARCHAR(255) NOT NULL, start_date DATETIME NOT NULL, end_date DATETIME NOT NULL, location VARCHAR(255) DEFAULT NULL, description CLOB NOT NULL, max_participants INTEGER NOT NULL, sport VARCHAR(255) NOT NULL, organizer_id INTEGER NOT NULL, winner_id INTEGER DEFAULT NULL, CONSTRAINT FK_BD5FB8D9876C4DDA FOREIGN KEY (organizer_id) REFERENCES "user" (id) NOT DEFERRABLE INITIALLY IMMEDIATE, CONSTRAINT FK_BD5FB8D95DFCD4B8 FOREIGN KEY (winner_id) REFERENCES "user" (id) NOT DEFERRABLE INITIALLY IMMEDIATE);
CREATE INDEX IDX_BD5FB8D9876C4DDA ON tournament (organizer_id);
CREATE INDEX IDX_BD5FB8D95DFCD4B8 ON tournament (winner_id);
CREATE TABLE "user" (id INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL, last_name VARCHAR(255) NOT NULL, first_name VARCHAR(255) NOT NULL, username VARCHAR(255) NOT NULL, email_address VARCHAR(255) NOT NULL, status VARCHAR(255) NOT NULL, roles CLOB NOT NULL, password VARCHAR(255) NOT NULL);
CREATE TABLE messenger_messages (id INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL, body CLOB NOT NULL, headers CLOB NOT NULL, queue_name VARCHAR(190) NOT NULL, created_at DATETIME NOT NULL, available_at DATETIME NOT NULL, delivered_at DATETIME DEFAULT NULL);
CREATE INDEX IDX_75EA56E0FB7336F0E3BD61CE16BA31DBBF396750 ON messenger_messages (queue_name, available_at, delivered_at, id);
